<!DOCTYPE html>
<html ng-app="todo-ng">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Simple Todo in Angular JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="styles/main.css"
    />
  </head>
  <body>
    <div class="container">
      <div ng-controller="homeController as vm">
        <h3>Todo</h3>
        <div
          class="form-row"
          ng-repeat="todo in vm.todos | filter : {'status' : false}"
        >
          <div class="form-group">
            <input type="checkbox" ng-model="todo.status" />
            <label>{{ todo.todoText }}</label>
          </div>
        </div>
        <h3>Completed</h3>
        <div
          class="form-row"
          ng-repeat="todo in vm.todos | filter : {'status' : true}"
        >
          <div class="form-group">
            <input type="checkbox" ng-model="todo.status" />
            <del>{{ todo.todoText }}</del>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
